.Header{
  color:red;
  background:yellow;
}

.Parent{
  background-color: Black;
  color: white;
  height: 500px;
  width: 1000px;
}

.Child1{
  background-color: blue;
  height: 400px;
  width: 250px;
}


.Child2{
  background-color: green;
  height: 400px;
  width: 250px;
}


.Child3{
  background-color: purple;
  height: 400px;
  width: 250px;
}

